
# Игнорируем конфигурационные файлы

backend/.env.local


# Игнорируем папки, которые не нужны
backend/var/
backend/vendor/

# Папка для файлов сборки
/public/build/
public/bundles/

# Логи
*.log

# Папки IDE
/.idea/
/.vscode/
*.iml

# Папка composer
/vendor/

# Модули npm
frontend/node_modules/

# Папка с тестами
/tests/
# Папка с компилированными файлами
/public/css/
/public/js/